.package-logo {
  width: 65vw;
  height: 35vw;
  max-width: 1300px;
  margin: 50vh auto;
  background-image: url('/images/fg_logo.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
