.root-container {
  background:
    url('/images/bg_bottom.png') scroll bottom center / 100% no-repeat,
    url('/images/bg_top.png') scroll top center / 104% no-repeat,
    url('/images/bg_repeat.png') scroll top center / 100% repeat-y,
    url('/images/bg_gradient.png') scroll bottom center / 100% 100% no-repeat;
  min-height: 100vh;
  margin: 0;
  padding: 1rem 0;
  box-sizing: border-box;
  color: #fff;
}

.root-main {
  box-sizing: border-box;
  width: min(64rem, calc(100% - 2rem));
  margin: 0 auto 1.5rem auto;
}
