/* Google Fonts */

/* Noto Sans JP Font Classes */
@mixin noto-sans-jp-thin {
  font-family: 'Noto Sans JP', sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

@mixin noto-sans-jp-regular {
  font-family: 'Noto Sans JP', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

@mixin noto-sans-jp-bold {
  font-family: 'Noto Sans JP', sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

/* Archivo Black */
@mixin archivo-black-regular {
  font-family: 'Archivo Black', sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* Kiwi Maru */
@mixin kiwi-maru-regular {
  font-family: 'Kiwi Maru', serif;
  font-weight: 400;
  font-style: normal;
}
